:root {
    --white-color: #ffffff;
    --font-extrabold: 800;
    /*--header-font-color: #e0e7ff;*/
    /*@media (max-width: 1024px) {*/
    /*}*/
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    min-height: 100vh;
    width: 70%;
    /*background-color: yellow;*/
    margin: 0 auto;
    font-family: Roboto, sans-serif;
}

#root {
    padding-top: 1rem;
}


@media (prefers-color-scheme: dark) {
  :root {

  }

  #social .button-icon {
  }
}

h1,
h2 {
    color: var(--white-color);
    font-weight: var(--font-extrabold);
    font-size: 2.2rem;
    margin: 0;
}

h1 {

  @media (max-width: 1024px) {

  }
}
h2 {

  @media (max-width: 1024px) {
  }
}
p {
    margin: 0;
}

span {
    /*color: var(--header-font-color);*/
}
