.task-list {
  margin-top: 2rem;
  align-items: center;

  &__item {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    border: 1px solid #e2e8f0;
    border-radius: 1.3rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  &__item:hover {
    border-color: #c7d2fe;
    -webkit-box-shadow: 0px 6px 23px -2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 6px 23px -2px rgba(0, 0, 0, 0.15);
  }

  &__checkbox, &__edit, &__delete, &__checkbox-button {
    border: none;
    background-color: #ffffff;
  }

  &__checkbox {
    align-self: center;
  }

  &__checkbox-completed {
    background-color: #f8fafc;
  }

  &__title {
    font: 1.3rem "Inter", sans-serif;

    .completed {
      text-decoration: line-through;
      color: #94a3b8;
    }
  }

  &__description {
    margin-top: 0.7rem;
    font: 1rem "Inter", sans-serif;
  }

  &__category {
    padding: 0.5rem;
    background-color: #f1f5f9;
    border-radius: 0.8rem;
    margin-right: 1rem;
    color: #475569;
    text-transform: capitalize;
  }

  &__date {
    color: #94a3b8;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    visibility: hidden;
    stroke: #94a3b8;
  }

  &__delete:hover {
    stroke: #ff2121;
  }

  &__edit:hover {
    stroke: #4f46e5;
  }

  &__item:hover &__actions {
    visibility: visible;
  }

  &__details {
    flex-grow: 1;
  }

  &__edit-mode {
    width: 100%;
    display: flex;
  }

  &__edit-input {
    border: solid #a5b4fc 1px;
    border-radius: 0.8rem;
    flex-grow: 1;
    font: 1.3rem "Inter", sans-serif;
    padding: 0.9rem;
  }

  &__edit-input:focus {
    border: solid #6366f1 2px;
    opacity: 1;
    outline: 2px solid transparent;
  }

  &__save-btn {
    background-color: #d1fae5;
    border: none;
    border-radius: 0.7rem;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
  }

  &__save-btn:hover {
    background-color: #a7f3d0;
  }

  &__cancel-btn {
    background-color: #ffe4e6;
    border: none;
    border-radius: 0.7rem;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
  }

  &__cancel-btn:hover {
    background-color: #fecdd3;
  }
}